/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	background: #EEE9E9;
}

.button-link {
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
    width: 80px;
}

#banner {
	
	padding: 10px;
	border-bottom: 2px solid;
	font: 28px/28px "arial", serif;
	color: #3E3E3E;
	text-align: center;
	background: #EEE9E9;

	img {
		float: left;
	}
}

#columns{
	background: #EEE9E9;

#main{
	margin-left: 17em;
	padding: 1em;
	background: #EEE9E9;
}
#side{
	float: left;
	padding: 1em 2em;
	width: 13em;
	background: #EEE9E9;

	ul{
		padding: 0;
		li{
			list-style: none;
			a{
				color: #543E43;
				font-size: small;
			}
		}
	}
}

}